<div class="row mt-4">
  {{#if posts.length}}
  {{#each posts as |post|}}
  <div class="card row">
    <div class="card-header">
      <div>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </div>
      <div>
        {{format_date post.date_created}}
      </div>
    </div>
  </div>
  {{/each}}
  {{/if}}

  <div class="row mb-2">
    <div class="col-md-4">
      <button class="btn" data-id="{{post.id}}">Add Post</button>
    </div>
  </div>
</div>

<script src="./js/dashboard.js"></script>
