<div class="card row">
  <div class="card-header">
    <p>Login</p>
  </div>
  <form class="card-body login-form">
    <div class="mb-3">
      <label for="inputUsername" class="form-label">Username</label>
      <input type="text" class="form-control" id="inputUsername">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>  
    <button class="btn btn-secondary" type="submit">Login!</button>
    <a class="signUp" href="./signup">Sign up instead</a> 
  </form>
</div>

<script src="./js/login.js"></script>
