<div class="card row">
  <div class="card-header">
    <p>Sign Up</p>
  </div>
  <div class="card-body signup-form">
    <div class="mb-3">
      <label for="inputUsername" class="form-label">Username</label>
      <input type="text" class="form-control" id="inputUsername">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>  
      <button class="btn btn-secondary" type="button">Sign Up!</button>
      <a class="signUp" href="./login">Login instead</a> 
  </div>
</div>

<script src="./js/signup.js"></script>
